
<h1 class="text-2xl pb-4">Find My Landlord!</h1>

<.live_component
  module={FindMyLandlordWeb.Live.Components.Search}
  id="searchbox"
  suggestions={[]}
  query={@query}
  />

<br/>
<%= if @query != nil do %>
  <h2>You picked: <b><%= @query %></b></h2>
<% end %>
